CONFIG_SPL_OS_BOOT=y
CONFIG_CMD_SPL=y
CONFIG_SPL_SIZE_LIMIT=0xB1000
CONFIG_SYS_SPI_KERNEL_OFFS=0x40000
CONFIG_SYS_SPI_ARGS_OFFS=0x80000
CONFIG_SYS_SPI_ARGS_SIZE=0x2000
# Weitere benötigte Einstellungen für Falcon Mode hinzufügen
CONFIG_FALCON_MODE=y
CONFIG_FALCON_FEATURE_X=y
